scripts/n8n-cron-leadhub.json
{
  "name": "LeadHub - Cron Diário",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            { "mode": "everyWeek", "hour": 7, "minute": 0, "weekday": "1" },
            { "mode": "everyWeek", "hour": 7, "minute": 0, "weekday": "2" },
            { "mode": "everyWeek", "hour": 7, "minute": 0, "weekday": "3" },
            { "mode": "everyWeek", "hour": 7, "minute": 0, "weekday": "4" },
            { "mode": "everyWeek", "hour": 7, "minute": 0, "weekday": "5" }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Cron 07:00 seg-sex",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "cronSecret",
              "value": "SUBSTITUIR_PELO_CRON_SECRET"
            }
          ]
        },
        "options": {}
      },
      "id": "set-secret",
      "name": "🔑 Secret",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://app.azzagencia.com.br/api/cron/projetos-sync",
        "method": "GET",
        "options": {
          "timeout": 120000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Secret').item.json.cronSecret }}"
            }
          ]
        }
      },
      "id": "http-projetos",
      "name": "Sync projetos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [620, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://app.azzagencia.com.br/api/cron/gamificacao",
        "method": "GET",
        "options": {
          "timeout": 120000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Secret').item.json.cronSecret }}"
            }
          ]
        }
      },
      "id": "http-gamificacao",
      "name": "Sync gamificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [840, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://app.azzagencia.com.br/api/cron/sla",
        "method": "GET",
        "options": {
          "timeout": 60000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Secret').item.json.cronSecret }}"
            }
          ]
        }
      },
      "id": "http-sla",
      "name": "Check SLA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1060, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://app.azzagencia.com.br/api/cron/marketing-sync",
        "method": "GET",
        "options": {
          "timeout": 180000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('🔑 Secret').item.json.cronSecret }}"
            }
          ]
        }
      },
      "id": "http-marketing",
      "name": "Sync marketing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1280, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Cron 07:00 seg-sex": {
      "main": [[{ "node": "🔑 Secret", "type": "main", "index": 0 }]]
    },
    "🔑 Secret": {
      "main": [[{ "node": "Sync projetos", "type": "main", "index": 0 }]]
    },
    "Sync projetos": {
      "main": [[{ "node": "Sync gamificação", "type": "main", "index": 0 }]]
    },
    "Sync gamificação": {
      "main": [[{ "node": "Check SLA", "type": "main", "index": 0 }]]
    },
    "Check SLA": {
      "main": [[{ "node": "Sync marketing", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Sao_Paulo",
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "leadhub" },
    { "name": "cron" }
  ]
}
